.contacto {
    background: linear-gradient(rgba(62, 45, 113, 0.4), rgba(87, 112, 166, 0.5)), url(images/header-img.jpeg) no-repeat center center /cover;
    clear:right;
    color: rgba(12, 16, 109, 0.6);  
    padding: 10px 10px 20px 40px;
    margin: 120px ;
    font: bold;
    display: flexbox;
    background-color:  rgba(12, 16, 109, 0.6);  ;
  }
  